<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<p> Our website is to help students with their procrastination</p>
<img src="/static/Fred.png" style="width:200px;height:200px;">
<!--<img src="/static/purpose.png" style="width:500px;height:300px;">-->
<p>Made by: Vic Liu</p>
<p><b>Our Intended Purpose:</b> Provide students a website with resources to help them deal with procrastination. </p>
<h5>Release Notes:</h5>

<p>1.0: Website Setup, About Us created</p> <br>
<p>Need help with procrastination? Look around this website and its features! Something is surely to help!</p>

<style>
body {background-color: #add3f0;}
</style>

{% endblock %}