<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<p> Our website is to help students with their procrastination</p>
<img src="/static/Fred.png" style="width:200px;height:200px;">
<img src="/static/purpose.png" style="width:500px;height:300px;">
<p>Made by: Vic Liu</p>
<p><b>Intended Purpose:</b> Provide students a website with resources to help them deal with procrastination. </p>
<h5>Release Notes:</h5>

<p>1.0: Website Setup, About Us created</p> <br>
<p>Need help in an emergency? Call 911<br>
    Need help about the website or procrastination? Call for Vic out loud. He'll probably hear you.</p>



{% endblock %}