<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Amount of time you've procrastinated</h1>

        
        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form action="" form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <p>
                {{ form.procrastinatedTime.label }} <br>
                {{ form.procrastinatedTime() }}<br>
                {% for error in form.procrastinatedTime.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>
            <p>
                {{ form.proc.label }}<br>
                {{ form.proc() }}<br>
                {% for error in form.proc.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{form.submit()}}</p>
        </form>
        procrastinatedTime: {{current_user.procrastinatedTime}} <br>
        
        
        <style>

            body {background-color: #61a1d2;}
            
        </style>


{% endblock %}

